<div>
	<div id="bingoSquare">
		<table class="table table-bordered">
			{{#grouped_each 5 squares}}
			    <tr class="row">
			    {{#each this}}
			    	<td onclick="addMark(this)">
						<div>{{square_text}}</div>
						<img class="checkmark" src="/checkmark.png" />
					</td>
			    {{/each}}
			    </tr>
			{{/grouped_each}}
		</table>
		<button id="btnRefresh" type="button" class="btn btn-success" onclick="refreshCard()">Generate New Card</button>
	</div>
</div>