<div>
	<div id="bingoSquare">
		<table class="table table-bordered">
			{{#grouped_each 5 squares}}
			    <tr class="row">
			    {{#each this}}
			    	<td>
						<div>{{square_text}}</div>
					</td>
			    {{/each}}
			    </tr>
			{{/grouped_each}}
		</table>
	</div>
	<div class="container">
		<button id="btnRefresh" type="button" class="btn btn-info" onclick="refreshCard()">Generate New Card</button>
	</div>
</div>