
<div class="bingo-intro">
	<p>Ever sit on a conference call all day, twiddling your thumbs,
		wishing there was something better to do with your time?</p>
	<p>Well, here's a bingo game to help you keep track of the buzzwords of the day...</p>

</div>

<div class="row" id="bingo-btns">
	<div class="col-sm-4 btn-container">
		<button class="btn btn-primary" id="bingo-games-btn">Let me join or start a live game</button>
	</div>

	<div class="col-sm-4 btn-container">
		<button class="btn btn-primary" id="bingo-single-btn">Show me a card - I'll play by myself</button>
	</div>

	<div class="col-sm-4 btn-container">
		<button class="btn btn-primary" id="bingo-custom-btn">I want to generate a custom card</button>
	</div>
</div>

<div class="row" style="display: none;" id="bingo-back-container">
	<div class="btn-container">
		<button class="btn btn-primary" id="bingo-back-btn">Go Back</button>
	</div>
</div>

<div class="row">
	<div id="bingoCardInput" class="col-xs-12" style="display: none;">
		<input type="text" placeholder="Enter a buzzword or phrase..." id="addBuzzword" />
		<input type="submit" id="buzzwordSubmit" value="Add Buzzword" />
		<!-- List of buzzwords is displayed here -->
		<div id="buzzwords"></div>
	</div>
</div>

<div id="bingoCard" style="display: none;">
	{{#grouped_each 5 squares}}
	<div class="row">
		{{#each this}}
			<div class="square">
			    <div class="content">
						<img class="checkmark" src="/checkmark.png" />
						<div class="table">
							<div class="table-cell">
								<div>
										{{square_text}}
								</div>
							</div>
						</div>
			    </div>
			</div>
		{{/each}}
	</div>
	{{/grouped_each}}
</div>
