<h5>Ever sit on a conference call all day, twiddling your thumbs, wishing there was something better to do with your time?
	Well, here's a bingo card to help you keep track of the buzzwords of the day...</h5>
	
	<p>Refresh to generate a new card...</p>
	<p>Coming soon (feature wishlist): ability to customize your buzzword list.</p>
			
<div id="bingoCard">
		<table class="table table-bordered">
			{{#grouped_each 5 squares}}
			    <tr>
			    {{#each this}}
			    	<td class="bingoSquare">
						<div>{{square_text}}</div>
						<img class="checkmark" src="/checkmark.png" />
					</td>
			    {{/each}}
			    </tr>
			{{/grouped_each}}
		</table>
</div>