<div id="bingo-square" class="wrapper">
	<table class="table table-bordered">
		{{#grouped_each 5 squares}}
		    <tr class="row">
		    {{#each this}}
		    	<td>
					<div>{{square_text}}</div>
				</td>
		    {{/each}}
		    </tr>
		{{/grouped_each}}
	</table>
<div class="container">
	<button type="button" class="btn btn-info" onclick="refreshCard()">Generate New Card</button>
</div>