
<div>	
	<p>Ever sit on a conference call all day, twiddling your thumbs, wishing there was something better to do with your time?</p>
	<p>Well, here's a bingo card to help you keep track of the buzzwords of the day...</p>

	<div class="hidden-landscape-device">
		<h4>Flip your device to landscape to play!</h4>
	</div>
</div>

		
	<div id="bingoCard" class="visible-landscape-device" style="display: none;">
			<table class="table table-bordered">
				{{#grouped_each 5 squares}}
				    <tr>
				    {{#each this}}
				    	<td class="bingoSquare">
							<div>{{square_text}}</div>
							<img class="checkmark" src="/checkmark.png" />
						</td>
				    {{/each}}
				    </tr>
				{{/grouped_each}}
			</table>
	</div>
