<div class="row">
	<div class="col-sm-9">
		<h4 class="title-blog">{{post.fields.title}}</h4>
		{{post.bodyMarkdown}}
	</div>
	
	<div class="col-sm-3">
		<a href="/blog" class="btn btn-primary btn-blog">Back to All Posts</a>
	</div>
</div>