<div class="row">
	<div class="col-sm-9 blog-post-body">
		<h3 class="title-blog">{{post.fields.title}}</h3>
		<hr>

		<img src={{{imageUrl}}} style="width: 100%; margin-bottom: 2em;" >

		<div>
			{{{post.bodyHtml}}}
		</div>
	</div>
	<div class="col-sm-3 sidebar">
		<a href="/blog" class="btn btn-primary btn-blog">Back to All Posts</a>

     <!-- Categories Widget -->
     <div class="card card-blog">
       <h5 class="card-header">Tags</h5>
       <div class="card-body-blog">
         <div class="row">

			 <ul class="list-unstyled">
				 {{#each post.fields.tags}}
				 <li>{{this}}</li>
				 {{/each}}
		 	 </ul>
         </div>
       </div>
     </div>
	</div>
</div>
