	<div class="coding-cards">

		<div class="project-card">
			<h2>This Site &mdash; Cleveland, OH (2017)</h2>
			<div class="logoBlock">
				<img src="img/women-hero.png" />
				<a href="https://github.com/rebeccasullivan/buzzword-bingo">Source Code</a>
			</div>
			<p>Originally built using Java and Spring, I converted my site over to Node.js and built out the Buzzword Bingo and blog
				sections.Other technologies here include HTML/CSS, of course, Express.js, the Contentful API, Handlebars.js, JavaScript,
				and Bootstrap. The site's hosted using Heroku. This project is basically a playground for new ideas.
			</p>
			<p>
				My to-build list includes implementing more features on my blog UI and buzzword bingo after accomplishing my version of MVP.
				I also plan to delve into some machine learning concepts at some point in the not-too-distant future...
			</p>
		</div>

		<div class="project-card">
			<h2>Buzzword Bingo &mdash; Cleveland, OH (2017)</h2>
			<div class="logoBlock">
				<img src="checkmark.png" />
				<a href="https://github.com/rebeccasullivan/buzzword-bingo">Source Code</a><br>
				<a href="/bingo-squares">Play!</a>
			</div>
			<p>Ever sit on a conference call all day, twiddling your thumbs, wishing there was something better to do with your time?
			Buzzword Bingo comes in to save the day. The final goal of this project is to create an app where colleagues can log in to
			a game to play in real-time with a customized list of buzzwords. MVP is done, where boards are generated from seed data
			in a SQLite database. The app is my first foray into Node.js and SQLite, along with reinforcing some skills in vanilla
			JavaScript and, eventually, AJAX.
			</p>
		</div>

		<div class="project-card">
			<h2>Summit Food Coalition &mdash; Northeast Ohio (2016)</h2>
			<div class="logoBlock">
				<img src="img/summit-food-logo.png" />
				<a href="https://www.summitfoodcoalition.org/">Live Site</a>
				<a href="/summit-food-coalition">About</a>
			</div>
			<p>Ever sit on a conference call all day, twiddling your thumbs, wishing there was something better to do with your time?
			Buzzword Bingo comes in to save the day. The final goal of this project is to create an app where colleagues can log in to
			a game to play in real-time with a customized list of buzzwords. MVP is done, where boards are generated from seed data
			in a SQLite database. The app is my first foray into Node.js and SQLite, along with reinforcing some skills in vanilla
			JavaScript and, eventually, AJAX.
			</p>
		</div>


		<div class="project-card">
			<h2>National Parks Web App (Tech Elevator) &mdash; Cleveland, OH (2016)</h2>

			<div class="logoBlock">
				<img src="img/national-park-img.gif" />
				<a href="https://github.com/rebeccasullivan/national-parks-redux">Source Code</a>
			</div>
			<p>The National Parks project served as the culmination of our study of server-side web
			programming and database programming in Java. By creating a web app hooked up to a database that
			captures National Park reservations and dynamically displays information about the parks, we tied together
			what we had learned about MVC, HTML/CSS, Servlets, JSPs, relational schemas, SQL, data persistence
			(using JDBC), and continued to reinforce object-oriented programming concepts.</p>
		</div>

		<div class="project-card">
			<h2>Pig: A Dice Game (implemented in Java) &mdash; Cleveland, OH (2016)</h2>

			<div class="logoBlock">
				<img src="img/pig-img.png" />
				<a href="https://github.com/rebeccasullivan/pig-dice-game">Source Code</a>
			</div>

			<p>As a Java student at Tech Elevator (a coding bootcamp in Cleveland, OH), this was my first side project,
			where I aimed to apply concepts we had learned in class to a different context. The key concepts I learned through
			this experiment included encapsulation and class modeling, plus a reinforcement of the fundamentals of object-oriented
			programming. My to-do list on this project is to add a computer player and/or a friendlier user interface beyond
			the command line.</p>
		</div>
	</div>
