	<div class="coding-cards">
		
		<div class="project-card">
			<h2>Buzzword Bingo</h2>
			<h3>Cleveland, OH (2017)</h3>
			<div class="logoBlock">
				<img src="checkmark.png" />
				<a href="https://github.com/rebeccasullivan/buzzword-bingo">Source Code</a>
			</div>
			<p>Ever sit on a conference call all day, twiddling your thumbs, wishing there was something better to do with your time?
			Buzzword Bingo comes in to save the day. The final goal of this project is to create an app where colleagues can log in to 
			a game to play in real-time with a customized list of buzzwords. MVP is done, where boards are generated from seed data
			in a SQLite database. The app is my first foray into Node.js and SQLite, along with reinforcing some skills in vanilla 
			JavaScript and, eventually, AJAX.
			</p>
		</div>
		
		
		<div class="project-card">
			<h2>National Parks Web App (Tech Elevator)</h2>	
			<h3>Cleveland, OH (2016)</h3>
			
			<div class="logoBlock">
				<img src="img/national-park-img.gif" />
				<a href="https://github.com/rebeccasullivan/national-parks-redux">Source Code</a>
			</div>
			<p>The National Parks project served as the culmination of our study of server-side web 
			programming and database programming in Java. By creating a web app hooked up to a database that 
			captures National Park reservations and dynamically displays information about the parks, we tied together 
			what we had learned about MVC, HTML/CSS, Servlets, JSPs, relational schemas, SQL, data persistence 
			(using JDBC), and continued to reinforce object-oriented programming concepts.</p>
		</div> 
		
		<div class="project-card">
			<h2>Pig: A Dice Game (implemented in Java)</h2>	
			<h3>Cleveland, OH (2016)</h3>
			
			<div class="logoBlock">
				<img src="img/pig-img.png" />
				<a href="https://github.com/rebeccasullivan/pig-dice-game">Source Code</a>
			</div>
			
			<p>As a Java student at Tech Elevator (a coding bootcamp in Cleveland, OH), this was my first side project, 
			where I aimed to apply concepts we had learned in class to a different context. The key concepts I learned through
			this experiment included encapsulation and class modeling, plus a reinforcement of the fundamentals of object-oriented
			programming.</p>
		</div>
	</div>