	<div class="etcContent container"> 
		
		<div class="row">
			<div class="col-md-6">
				<div class="etcCard">
					<a href="https://en.wikipedia.org/wiki/Dalcroze_Eurhythmics">
						<img src="img/jaques-dalcroze.jpg" />
					<div class="etcDescription">
						<p>Learn more about Emile Jaques-Dalcroze, the inventor of Eurhythmics, in this Wikipedia article I wrote!</p>
					</div>
					</a>
				</div>
		
				<div class="etcCard">
					<iframe width="250" height="188" src="https://www.youtube.com/embed/BYMiZJYDIrk"></iframe>
					<div class="etcDescription">
						<p>Hear me play the oboe!</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
			
				<div class="etcCard">
					<a href="http://www.huffingtonpost.com/anthony-hughes/composing-code-why-musici_b_10714288.html"><img src="img/keyboard.png" />
					<div class="etcDescription">
						<p>Read "Composing Code: Why Musicians Make Great Software Developers" ...published in the Huffington Post,
						featuring my and my fiance's transition to software development.</p>
					</div>
					</a>
				</div>
			
				<div class="etcCard">
					<a href="http://blog.hyland.com/tag/women-in-tech/"><img src="img/hyland-logo.jpg" />
					<div class="etcDescription">
						<p>Check out Hyland Women in Tech!</p>
					</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div> 
	