	
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-warning">
			  <div class="panel-heading">Eurhythmics!</div>
			  <div class="panel-body">
					<a href="https://en.wikipedia.org/wiki/Dalcroze_Eurhythmics">
						<img src="img/jaques-dalcroze.jpg" />
					</a>
			  	  	<div class="etc-desc">
						<p>Learn more about Emile Jaques-Dalcroze, the inventor of Eurhythmics, 
							in this Wikipedia article I wrote!</p>
					</div>
			  </div>
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="panel panel-warning">
			  <div class="panel-heading">In the news!</div>
			  <div class="panel-body">
					<a href="http://www.huffingtonpost.com/anthony-hughes/composing-code-why-musici_b_10714288.html">
						<img src="img/keyboard.jpeg" />
					</a>
					<div class="etc-desc">
						<p>Read "Composing Code: Why Musicians Make Great Software Developers" 
							...published in the Huffington Post,
							featuring my and my husband's transition 
							to software development.</p>
					</div>
			  </div>
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="panel panel-warning">
			  <div class="panel-heading">Hear me play the oboe!</div>
			  <div class="panel-body">
					<div class="embed-responsive embed-responsive-4by3">
					  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BYMiZJYDIrk"></iframe>
					</div>
			  	  	<div class="etc-desc">
						<p>Take a quick foray into my time as a classical oboist in Cleveland. View at your own risk!</p>
					</div>
			  </div>
			</div>
		</div>
	</div>
		
	