<div class="container">
    <div class="col-sm-6">
		<img class="headshot" src="/img/headshot.jpg" />
    </div>
	
	<div class="col-sm-6">
		<p>Hi! I'm Rebecca, and I'm a developer and consultant in the Cleveland area. 
			I grew up in Atlanta, but I'm a Northeast Ohio transplant since coming here for 
			an undergrad degree in oboe performance at the Cleveland Institute of Music 
			(yes, that really is a thing!).</p>
		
        <p>My time in Cleveland has included dreaming about becoming a symphony musician, 
				re-channeling my organizational skills into business, discovering the tech 
				industry, falling in love with my now-husband, going through a rigorous 
				coding bootcamp, and, most recently, finding a fulfilling job in the tech world
				where I get to code and talk to people.</p>

        <p>This site includes some projects that were sparked by Tech Elevator, 
				some from my MBA, and others that are simply 
				an easy excuse for problem-solving. I'm always looking to meet new people, so if you 
				find something interesting and want to chat, please don't hesitate
				to contact me on LinkedIn.</p>
     </div>

</div>
