<div class="container">
    <div class="col-lg-6">
		<img class="headshot" src="/img/headshot.jpg" />
    </div>
	
	<div class="col-lg-6">
		<p>Hi! I'm Rebecca, and I'm a developer and consultant in the Cleveland area. 
			I grew up in Atlanta, but I'm a Northeast Ohio transplant since coming here for 
			an undergrad degree in oboe performance at the Cleveland Institute of Music 
			(yes, that really is a thing!).</p>
		
        <p>My time in Cleveland has included dreaming about becoming a symphony musician, 
				finding out about the realities of the music profession, re-channeling my 
				organizational skills into business, discovering the tech industry, falling in 
				love with my now-husband, going through a rigorous coding bootcamp, 
				and finally finding a fulfilling job in the tech world.</p>

        <p>This site includes some projects that were sparked by Tech Elevator (a coding bootcamp), 
				some from my MBA, and others that are simply side interests and 
				an easy ecuse for problem-solving. I'm always looking to meet new people, so if you 
				find something interesting and want to chat, please don't hesitate
				to contact me on LinkedIn.</p>
     </div>

</div>
