<h3>Summit Food Coalition</h3>
<p>
  <a href="http://clevelandgivecamp.org/">Cleveland GiveCamp</a> is a fantastic
hackathon where volunteer developers, designers, and project managers
come together for a weekend every summer and work on projects for non-profit
organizations in the area. In 2016, my team overhauled the website for the
Summit Food Coalition to better communicate their offerings. Our team included
a Project Manager, 3 developers including myself, 1 designer, and 2
marketers/copywriters.
</p>

<p>
The new website is a drastic improvement over their old site, and now includes
functionality to accept donations, submit volunteer/contact information,
sign up for a mailing list, and view maps of community gardens and other
local food sources.
</p>
