<h3>Summit Food Coalition</h3>
<p>
  <a href="http://clevelandgivecamp.org/">Cleveland GiveCamp</a> is a fantastic
hackathon where volunteer developers, designers, and project managers
come together for a weekend every summer and work on projects for non-profit
organizations in the area. In 2016, my team overhauled the website for the
<a href="https://www.summitfoodcoalition.org/">Summit Food Coalition</a> to better communicate their offerings. Our team included
3 developers including myself, a project manager, a designer, and 2
marketers/copywriters.
</p>

<p>
The new website is a drastic improvement over their old site, and now includes
functionality to accept donations, submit volunteer/contact information,
sign up for a mailing list, and view maps of community gardens and other
local food sources. It was designed and built on WordPress.
</p>

<br>
<hr>
<br>

<h4>Highlights</h4>

<section class="summit-highlights">
  <div class="row">
    <div class="col-sm-6">
      <img src="/img/summit-gardens.png" />
    </div>
    <div class="col-sm-6">
      <img src="/img/summit-mission.png" />
    </div>
  </div>
</section>
