<div class="row">
	<div class="col-sm-2">
		<div id="oboeHeadshot">
			<img src="img/oboe-headshot.jpg" style="width: 100%;" id="oboeHeadshot"/>
		</div>
	</div>
	
	<div class="col-sm-10">
		<div class="resumeSummary">
				<p>Before my second life as a programmer, I had an extensive background as a classically-trained musician and 
				teacher of oboe and Dalcroze eurhythmics with experience teaching and presenting to a wide variety of audiences 
				in a private and classroom setting. Always interested in leading young students to develop practical, transferrable 
				skills through music.</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-8">
		<h2>Experience</h2>
		
		<div>
			<h4>Oboe Faculty (2013 &mdash; 2017)</h4>
			<h5><a href="http://www.auroraschoolofmusic.com">Aurora School of Music</a> &mdash; Aurora, OH</h5>
			<p>Private oboe and reed-making teacher to middle school, high school, and adult students, with an emphasis
			on teaching transferrable skills, including time management, discipline, collaboration, and organization.</p>
		</div>
		
		<div>
			<h4>Eurhythmics Faculty (2013 &mdash; 2015)</h4>
			<h5><a href="http://www.cim.edu">Cleveland Institute of Music (CIM)</a> &mdash; Cleveland, OH</h5>
			<p>Taught Dalcroze Eurhythmics to a wide variety of audiences in multiple settings as part of the Conservatory, 
			Preparatory, and Distance Learning divisions of CIM. Students ranged from preschool age all the way through
			undergraduates. Built curricula for all ages and taught both individually and in classroom settings.</p>
		</div>
		
		<div>
			<h4>Piano Junior Faculty (2010 &mdash; 2012)</h4>
			<h5><a href="http://www.sonatina.com">Summer Sonatina International Piano Camp</a> &mdash; Bennington, VT</h5>
			<p>Private piano teacher to over 40 students each week, ages 6-18. Co-taught group master classes.</p>
		</div>
		
		<div>
			<h4>Freelance Teacher, Oboe and Eurhythmics (2011 &mdash; Present)</h4>
			<ul>
				<li>Eurhythmics Instructor, Church of the Saviour Co-operative Nursery School, 2013-2014</li>
				<li>Eurhythmics Instructor, Heights Christian Church Co-operative Nursery School, 2012-2014</li>
				<li>Guest Presenter, CelloChan Woods - Michigan, 2013</li>
				<li>Eurhythmics Faculty, Cincinnati Young Artists Program, 2012</li>
				<li>Woodwinds Sectional Teacher, John Hay High School, 2011-2012</li>
			</ul>
		</div>

		<h3>Education</h3>
		<div>
			<h5><a href="https://weatherhead.case.edu/">Case Western Reserve University</a> &mdash; MBA, Marketing and Strategy</h5>
		</div>
		
		<div>
			<h5><a href="https://www.cim.edu/">Cleveland Institute of Music</a> &mdash; Bachelor of Music, Oboe Performance and Dalcroze Eurhythmics</h5>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="resumeSection">
			<h4>Skills</h4>
			<ul>
				<li>Curriculum Development</li>
				<li>Classroom Instruction <br>(Dalcroze Eurhythmics)</li>
				<li>Private Music Instruction <br>(Oboe and Piano)</li>
				<li>Oboe Reed Making</li>
				<li>Relationship Management</li>
				<li>Piano Accompaniment</li>
			</ul>
		</div>
		
	</div>
</div>