<div class="row">
	<div class="col-sm-4">
		<div id="oboeHeadshot">
			<img src="img/smile-headshot.jpg" id="oboeHeadshot"/>
		</div>
	</div>
	
	<div class="col-sm-8">
		<div class="resumeSummary">
				<p>Before my second life as a programmer, I had an extensive background as a classically-trained musician and 
				teacher of oboe and Dalcroze eurhythmics with experience teaching and presenting to a wide variety of audiences 
				in a private and classroom setting. I'm always interested in exploring how we can lead young students to 
				develop practical, transferrable skills through music.</p>
		</div>
	</div>
</div>


<hr>

<section class="teaching-resume">
<!--WORK DESCRIPTION -->
<div class="row resume-work">
	<div class="col-md-2 col-md-offset-1 resume-category">
		<h5 class="resume-category">EXPERIENCE</h5>
	</div>
	<div class="col-md-7">
		<p><span class="title">Oboe Faculty</span>
			<br/>
			<a href="http://www.auroraschoolofmusic.com">Aurora School of Music</a>
			<br/>
		</p>
		<p>
			Private oboe and reed-making teacher to middle school, high school, and adult students, 
			with an emphasis on teaching transferrable skills, including time management, 
			discipline, collaboration, and organization.
		</p>
	</div>
	<div class="col-md-2">
		<p><sm>2013 &mdash; 2017</sm></p>
	</div>
	
	<div class="col-md-7 col-md-offset-3 resume-item">
		<p><span class="title">Eurhythmics Faculty</span><br/>
			<a href="http://www.cim.edu">Cleveland Institute of Music (CIM)</a> <br/>
		</p>
		<p>
			Taught Dalcroze Eurhythmics to a wide variety of audiences in multiple settings as part of the Conservatory, 
			Preparatory, and Distance Learning divisions of CIM. Students ranged from preschool age all the way through
			undergraduates. Built curricula for all ages and taught both individually and in classroom settings.
		</p>
	</div>
	<div class="col-md-2 resume-item">
		<p><sm>2013 &mdash; 2015</sm></p>
	</div>
	
	<div class="col-md-7 col-md-offset-3 resume-item">
		<p><span class="title">Piano Junior Faculty</span><br/>
			<a href="http://www.sonatina.com">Summer Sonatina International Piano Camp</a> <br/>
		</p>
		<p> Private piano teacher to over 40 students each week, ages 6-18. 
			Co-taught group master classes. 
		</p>
	</div>
	<div class="col-md-2 resume-item">
		<p><sm>2010 &mdash; 2012</sm></p>
	</div>
	
	<div class="col-md-7 col-md-offset-3 resume-item">
		<p><span class="title">Freelance Teacher, Oboe and Eurhythmics</span><br/>
		</p>
		<ul>
			<li>Eurhythmics Instructor, Church of the Saviour Co-operative Nursery School, 2013-2014</li>
			<li>Eurhythmics Instructor, Heights Christian Church Co-operative Nursery School, 2012-2014</li>
			<li>Guest Presenter, CelloChan Woods - Michigan, 2013</li>
			<li>Eurhythmics Faculty, Cincinnati Young Artists Program, 2012</li>
			<li>Sectional Teacher, John Hay High School, 2011-2012</li>
		</ul>
	</div>
	<div class="col-md-2 resume-item">
		<p><sm>Since 2011</sm></p>
	</div>

</div><!--/.row -->
<br>
<hr>

<!--EDUCATION DESCRIPTION -->
<div class="row resume-education">
	<div class="col-md-2 col-md-offset-1 resume-category">
		<h5 class="resume-category">EDUCATION</h5>
	</div>
	<div class="col-md-6">
		<p><span class="title">MBA, Marketing and Strategy</span><br/>
			<i><a href="https://weatherhead.case.edu/">Case Western Reserve University</a></i>
		</p>
	</div>
	<div class="col-md-3">
	</div>
	<div class="col-md-6 col-md-offset-3">
		<p><span class="title">Bachelor of Music</span><br/>
			<i><a href="https://www.cim.edu/">Cleveland Institute of Music</a></i>
		</p>
	</div>
	<div class="col-md-3">
	</div>
</div><!--/.row -->
<br>
<hr>

	<!--EDUCATION DESCRIPTION -->
	<div class="row resume-education">
		<div class="col-md-2 col-md-offset-1">
			<h5 class="resume-category">SKILLS</h5>
		</div>
		<div class="col-md-9">
			<p><span>
				Curriculum Development &#8226;
				Classroom Instruction (Dalcroze Eurhythmics) &#8226;
				Private Music Instruction (Oboe and Piano) &#8226;
				Oboe Reed Making &#8226;
				Piano Accompaniment
			</span>
			</p>
	</div><!--/.row -->
</section>