	
	<div class="row">
		<div class="col-xs-12">
			<p>I'm a developer and consultant who thrives on combining my technical skills, leadership experience, initiative, and creative background 
			to solve meaty problems and make customers happy.</p>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-8">
			<h2>Experience</h2>
			
			<div>
				<h4>Solution Developer (2016-present)</h4>
				<h5><a href="https://www.hyland.com/">Hyland Software, Inc.</a> &mdash; Westlake, OH</h5>
				<ul>
					<li>Implement custom OnBase solutions and integrations for global enterprise insurance customers as a consultant and developer on Agile project teams</li>
					<li>Built ASP.NET application to house an external document viewer with enhanced security and authentication features, calls to external APIs, and a 
					suite of tests using NUnit and Apex code in Salesforce; deployed for customer with multi-million-dollar contract, and upon success, 
					2 other enterprise customers</li>
					<li>Develop custom C# scripts, including publishing and consuming SOAP web services, to integrate solutions with the Guidewire insurance product suite</li>
					<li>Implement pre-processors to massage document metadata for batch-uploading documents into OnBase</li>
					<li>Write and present documentation for system administrators and end-users for validation and approval</li>
					<li>Create and conduct end-user and system administrator solution training sessions</li>
				</ul>
			</div>
			
			<div>
				<h4>Director of Marketing (2014-2016)</h4>
				<h5><a href="https://www.pslifestyle.com/">PS Lifestyle </a>&mdash; Cleveland, OH</h5>
				<ul>
					<li>Built from scratch and directed a team of 3 in development and execution of multi-channel marketing programs, 
					including driving strategy for digital marketing, event marketing, and marketing communications.</li>
					<li>Lead re-branding campaign, including rollout and design of new website, and established 
					style guidelines for a $17 million brand.</li>
					<li>Promoted from Marketing Intern after 9-month internship during 2nd year of MBA degree.</li>
				</ul>
			</div>
			
			<div>
				<h4>Marketing Intern (2014)</h4>
				<h5><a href="http://bowtiemedical.com/">BowTie Medical </a> &mdash; Cleveland, OH</h5>
				<ul>
					<li>Coordinated the design and content development of printed and digital marketing materials to target 
					B2C and B2B audiences and ensure brand consistency.</li>
					<li>Assessed market attractiveness of prospective B2C markets by defining the competitive landscape, pros and cons of entry, 
					and potential profitability of each one; presented go-to-market strategy to management, who then implemented recommendations.</li>
				</ul>
			</div>
			
			<div>
				<h4>Stage Manager / Administrative Assistant (2013)</h4>
				<h5><a href="https://www.clevelandpiano.org/">Cleveland International Piano Competition </a>&mdash; Cleveland, OH</h5>
				<ul>
					<li>Distributed direct marketing pieces reaching 2,000+ people and attracting 500+ guests for a fundraiser.</li>
					<li>Served as stage manager for over 20 performances; oversaw logistics for 30 pianists at two venues.</li>
				</ul>
			</div>
			
			<div>
				<h4>Marketing Coordinator (2011-2012)</h4>
				<h5><a href="http://chamberfestcleveland.com/">ChamberFest Cleveland </a>&mdash; Cleveland, OH</h5>
				<ul>
					<li>Managed box office, guest relations, and marketing initiatives for highly successful inaugural season.</li>
					<li>Created ticket packages at 5 targeted price points, resulting in all sold-out concerts</li>
					<li>Fielded communications with patrons, donors, partners, and 15 artists</li>
					<li>Analyzed and reported impact of marketing initiatives on ticket sales and presented 
					marketing strategy for future seasons to the board.</li>
				</ul>
			</div>

			<h2>Education</h2>
			
			<div>
				<h5><a href="http://www.techelevator.com">Tech Elevator</a> &mdash; Java Web Application Development Bootcamp</h5>
				<p></p>
			</div>
			<div>
				<h5><a href="https://weatherhead.case.edu/">Case Western Reserve University</a> &mdash; MBA, Marketing and Strategy</h5>
			</div>
			
			<div>
				<h5><a href="https://www.cim.edu/">Cleveland Institute of Music</a> &mdash; Bachelor of Music, Oboe Performance and Dalcroze Eurhythmics</h5>
			</div>
		</div>
		<div class="col-sm-4">
			<h4>Skills</h4>
			
			<h5>.NET Stack</h5>
			<ul>
				<li>C#, ASP.NET</li>
				<li>NUnit</li>
				<li>IIS</li>
				<li>SQL Server</li>
			</ul>
			
			<h5>Java Stack</h5>
			<ul>
				<li>Java</li>
				<li>JSP/JSTL</li>
				<li>Spring MVC</li>
				<li>Tomcat</li>
				<li>JUnit</li>
				<li>PostgreSQL</li>
			</ul>
			
			<h5>Front-End</h5>
			<ul>
				<li>HTML/CSS</li>
				<li>JavaScript</li>
				<li>Bootstrap</li>
			</ul>
			
			<h5>Other</h5>
			<ul>
				<li>Adobe Photoshop, InDesign</li>
				<li>Email Marketing: Constant Contact, MailChimp, Emma</li>
				<li>Web services</li>
				<li>Agile (Certified Scrum Master)</li>
				<li>Git</li>
			</ul>
			<h5>Business</h5>
			<ul>
				<li>Consulting</li> 
				<li>Customer Relations</li> 
				<li>Digital Marketing</li> 
				<li>Event Management</li> 
				<li>Internal Communications</li>
			</ul>
			<!--
			<ul>
				<li>Databases: SQL Server, PostgreSQL</li>
				<li>Design: Adobe CC (Photoshop, InDesign)</li>
				<li>Email Marketing Tools: Constant Contact, MailChimp, Emma</li>
				<li>Other: Web services, SoapUI, Visual Studio, TFS, Git, Fiddler</li>
			</ul>
		
			<h4>Other Skills</h4>
			<ul>
				<li>Consulting</li> 
				<li>Customer Relations</li> 
				<li>Digital Marketing</li> 
				<li>Event Management</li> 
				<li>Internal Communications</li> 
			</ul>-->
		</div>
	</div>

	<h4>Other Skills</h4>
	<ul>
		<li>Consulting</li> 
		<li>Customer Relations</li> 
		<li>Digital Marketing</li> 
		<li>Event Management</li> 
		<li>Internal Communications</li> 
	</ul>