
	<div class="row resume-about">
		<div class="col-md-2 col-md-offset-1 resume-category">
			<h5>ABOUT</h5>
		</div>
		<div class="col-md-6">
			<p>I'm a developer with people skills who thrives on combining 
				my technical skills, leadership experience, initiative, 
				and creative background to solve meaty problems and 
				make customers and teammates happy.</p>
		</div>
		<div class="col-md-3">
			<p><a href="/img/sullivan-resume.pdf" download><i class="fa fa-file"></i></a> <sm>DOWNLOAD PDF</sm></p>
		</div>
	</div><!--/.row -->
	
	<br>
	<hr>
	
	<!--WORK DESCRIPTION -->
	<div class="row resume-work">
		<div class="col-md-2 col-md-offset-1 resume-category">
			<h5>WORK</h5>
		</div>
		<div class="col-md-6">
			<p><span class="title">Solution Developer</span>
				<br/>
				<a href="https://www.hyland.com/">Hyland Software, Inc.</a>
				<br/>
			</p>
			<p><more>
				Implement custom OnBase solutions and integrations for global enterprise 
				insurance customers as a consultant and developer on Agile project teams. Main technologies used
				include C#, ASP.NET, SQL Server, web services, and IIS.
			</more></p>
		</div>
		<div class="col-md-3">
			<p><sm>AUG 2016 &mdash; PRESENT</sm></p>
		</div>

		<div class="col-md-6 col-md-offset-3 resume-item">
			<p><span class="title">Director of Marketing</span><br/>
				<a href="https://www.pslifestyle.com/">PS Lifestyle </a> <br/>
			</p>
			<p><more>Built from scratch and directed a team of 3 in development and execution of multi-channel 
					marketing programs, including driving strategy for digital marketing, event marketing, 
					and marketing communications. Rolled out new website and established style guidelines 
					for a $17 million brand.</more></p>
		</div>
		<div class="col-md-3 resume-item">
			<p><sm>SEPT 2014 &mdash; MAY 2016</sm></p>
		</div>
		
		<div class="col-md-6 col-md-offset-3 resume-item">
			<p><span class="title">Marketing Intern</span><br/>
				<a href="http://bowtiemedical.com/">BowTie Medical </a> <br/>
			</p>
			<p><more>Coordinated the design and content development of printed and digital marketing materials to target 
			B2C and B2B audiences. Assessed market attractiveness of prospective B2C markets and developed go-to-market 
			strategy.</more></p>
		</div>
		<div class="col-md-3 resume-item">
			<p><sm>SUMMER 2014</sm></p>
		</div>
		
		<div class="col-md-6 col-md-offset-3 resume-item">
			<p><span class="title">Stage Manager / Administrative Assistant </span><br/>
				<a href="https://www.clevelandpiano.org/">Cleveland International Piano Competition </a> <br/>
			</p>
			<p><more>Distributed direct marketing pieces reaching 2,000+ people and attracting 500+ guests 
				for a fundraiser. Served as stage manager for over 20 performances; oversaw logistics 
				for 30 pianists at two venues.</more></p>
		</div>
		<div class="col-md-3 resume-item">
			<p><sm>SUMMER 2013</sm></p>
		</div>
		
		<div class="col-md-6 col-md-offset-3 resume-item">
			<p><span class="title">Marketing Coordinator</span><br/>
				<a href="http://chamberfestcleveland.com/">ChamberFest Cleveland </a> <br/>
			</p>
			<p><more>Managed box office, guest relations, and marketing initiatives for highly successful 
				inaugural season. Analyzed and reported impact of marketing initiatives on ticket sales 
				and presented marketing strategy for future seasons to the board.
			</more></p>
		</div>
		<div class="col-md-3 resume-item">
			<p><sm>AUG 2011 &mdash; AUG 2012</sm></p>
		</div>
	</div><!--/.row -->
	<br>
	<hr>
	
	<!--EDUCATION DESCRIPTION -->
	<div class="row resume-education">
		<div class="col-md-2 col-md-offset-1 resume-category">
			<h5>EDUCATION</h5>
		</div>
		<div class="col-md-6">
			<p><span class="title">Java Web Development Bootcamp</span><br/>
				<i><a href="http://www.techelevator.com">Tech Elevator</a></i>
			</p>
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-6 col-md-offset-3">
			<p><span class="title">MBA, Marketing and Strategy</span><br/>
				<i><a href="https://weatherhead.case.edu/">Case Western Reserve University</a></i>
			</p>
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-6 col-md-offset-3">
			<p><span class="title">Bachelor of Music</span><br/>
				<i><a href="https://www.cim.edu/">Cleveland Institute of Music</a></i>
			</p>
		</div>
		<div class="col-md-3">
		</div>
	</div><!--/.row -->
	<br>
	<hr>
	
	<!--EDUCATION DESCRIPTION -->
	<div class="row resume-education">
		<div class="col-md-2 col-md-offset-1 resume-category">
			<h5>SKILLS</h5>
		</div>
		<div class="col-md-6">
			<p><span class="title">.NET Stack: </span><br/>
				C#, ASP.NET, WPF, LINQ, WinForms, NUnit, IIS, TFS
			</p>
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-6 col-md-offset-3">
			<p><span class="title">Java Stack:</span><br/>
				Java, JSP/JSTL, Spring MVC, JUnit, PostgreSQL
			</p>
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-6 col-md-offset-3">
			<p><span class="title">Front-End:</span><br/>
				HTML/CSS, JavaScript, jQuery, Bootstrap
			</p>
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-6 col-md-offset-3">
			<p><span class="title">Business:</span><br/>
				Consulting, Customer Relations, Digital Marketing, Event Management, Internal Communications
			</p>
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-6 col-md-offset-3">
			<p><span class="title">Other Tech:</span><br/>
				Web services, Agile, Git, Photoshop, InDesign
			</p>
		</div>
		<div class="col-md-3">
		</div>
	</div><!--/.row -->
	
	
	