<h4>What I'm currently working on/interested in learning more about...</h4>

<ul>
	<li>Machine Learning</li>
	<li>JavaScript frameworks (Angular, React, Node)</li>
	<li>Presentation topics & programs for women in tech</li>
	<li>Basic Python...</li>
</ul>