@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	font-family: 'Lato', sans-serif !important; 
	font-weight: 300 !important;
}

.body-content {
	margin-bottom: 40px;
	padding: 10px;
}

table {
	width: 50%;
	margin: auto;
	border: solid white 2px !important;
}


/* HOMEPAGE STYLING */
.headshot {
	width: 200px;
	margin-bottom: 20px;
}

.navbar a {
	color: #337ab7 !important;
}

a:hover {
	color: grey !important;
	text-decoration: none !important;
}

.navbar {
    background: white !important;
    border: 0px solid white !important;
    box-shadow: none !important;
}


/* BINGO SQUARE STYLING */

.bingoSquare {
	display: flex;
	float: left;
	color: white;
	font-size: 16px;
	width: 20%;
	height: 130px;
	border: 3px solid white !important;
	padding: 5px !important;
	background: #00566C;
	text-align: center;
	cursor: pointer;
	justify-content: center;
	align-items: center;
}

.checkmark {
    z-index: 10;
    width: 110px;
    opacity: 0.7;
    position: absolute;
	display: none;
}

.bingoSquare:hover {
	box-shadow: inset 0 0 30px #110736;
}

.bingoSquare div {
	padding: 5px;
}

#btnRefresh {
	padding: 10px;
	margin: 20px;
	border-radius: 0px;
	border: none;
}

#bingoCard {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 650px;
	height: 650px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 30px;
}


/* Custom Styles for narrow jumbotron layout */
/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
#header,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
#header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
  margin-top: 30px;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

.container-narrow > hr {
  margin: 2rem 0;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 780px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  #header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

.headshot {
  width: 300px;
}
/* Space out the masthead */
#header {
	margin-bottom: 10px;
}

.coding-cards {
	padding-bottom: 30px;
}


/* PROJECT CARD FORMATTING */
.projectContent {
	margin-left: 40px;	
}

.card {
	margin-left: auto;
	margin-right: auto;
	background-color: #F1F1F1;
	color: black; 
	display: inline-block;
	margin-top: 30px;
	overflow: hidden;
	width: 100%;
}

.card h2 {
	padding: 10px 20px 5px 30px;
	font-size: 16px;
	font-weight: 400;
}
.card h3 {
	padding: 0px 10px 10px 30px; 
	font-size: 14px;
}
.card .logoBlock {
	float: left;
	margin-left: 25px;
	margin-bottom: 20px;
	width: 135px;
	text-align: center;
	overflow: hidden;
	padding: 10px;
}

.logoBlock a:hover {
	text-decoration: none;
	color: #00566C;
}
.card img {
	width: 90px;
	margin-bottom: 10px;
}
.card p {
	float: right;
	width: 550px;
	border-left: 1px solid grey;
	overflow: hidden;
	padding: 5px 20px 20px 20px;
	margin-bottom: 15px;
}
.card a {
 	text-decoration: none;
  	color: black;
  	font-size: 12px;
  	font-weight: 500;
  	background-color: #a9a7ac;
  	color: #E9E9E9;
  	padding: 8px;
  	margin: 30px 15px 15px 15px;
  	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

/* ETC CONTENT */
.panel-body img {
 	width: 100%;
}

.panel {
	height: 375px;
	overflow: hidden;
}

.etc-desc {
	padding: 10px;
	margin-top: 10px;
}


  /* FOOTER CONTENT */
.footer {
	margin-bottom: 20px;
}
.footer a {
	text-decoration: none !important;
}

.footer a:hover {
	color: grey;
}

.footer a:visited {
	text-decoration: none !important;
}
  */