@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto:300|Source+Sans+Pro');

/* Color Palette
1C78B9
2D30C4
13C373
FF9B18
*/

/* GLOBAL STYLES */
* {
	font-weight: 300 !important;
}

#header, footer {
	font-family: 'Lato', sans-serif !important; 
}

body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-family: 'Roboto', sans-serif !important;
  font-family: 'Source Sans Pro', sans-serif !important;
}

.body-content {
	padding: 1rem;
}


@media (min-width: 500px) {
	.visible-landscape-device {
		display: block !important;
	}
	.hidden-landscape-device {
		display: none !important;
	}
}

@media (min-width: 768px) {
  .container {
    max-width: 780px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  #header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}


/* NAVBAR & HEADER STYLES */
.navbar a {
	color: #337ab7 !important;
}

.navbar-brand {
	font-size: 24px !important;
}

a:hover {
	color: grey !important;
	text-decoration: none !important;
}

.navbar {
    background: white !important;
    border: 0px solid white !important;
    box-shadow: none !important;
}

#header {
	padding-bottom: 1rem;
	border-bottom: .05rem solid #e5e5e5;
	margin-top: 30px;
	margin-bottom: 10px;
}

#header,
footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* FOOTER STYLES */
footer {
	margin-bottom: 20px;
	margin-top: 5rem;
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}
footer a {
	text-decoration: none !important;
}

footer a:hover {
	color: grey;
}

footer a:visited {
	text-decoration: none !important;
}

/* HOMEPAGE STYLES */
.headshot {
	width: 100%;
	margin-bottom: 20px;
}


/* BINGO STYLES */

.square {
    float:left;
    position: relative;
    width: 15%;
    padding-bottom : 15%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-color: #00566C;
    overflow:hidden;
	color: white;
	text-align: center;
}

.content {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;
    
}
.table{
    display:table;
    width:100%;
    height:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
}



.bingoSquare {
	display: flex;
	float: left;
	color: white;
	width: 20%;
	height: 130px;
	border: 2px solid white !important;
	background: #00566C;
	text-align: center;
	cursor: pointer;
	justify-content: center;
	align-items: center;
}

.checkmark {
    z-index: 10;
    width: 110px;
    opacity: 0.7;
    position: absolute;
	display: none;
}

.bingoSquare:hover {
	box-shadow: inset 0 0 30px #110736;
}

.bingoSquare div {
	padding: 5px;
}

#btnRefresh {
	padding: 10px;
	margin: 20px;
	border-radius: 0px;
	border: none;
}

@media (min-width: 768px) {
	.navbar-right .dropdown-menu {
	    right: inherit !important;
	    left: auto;
	}
}

@media screen and (min-width: 500px) {
  .visible-landscape-device {
	  display: block;
  }
  .hidden-landscape-device {
	  display: none;
  }
}

#bingoCard {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 650px;
	height: 650px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 30px;
}

table {
	margin: auto;
	border: solid white 2px !important;
}

/* PROJECT CARD FORMATTING */
.projectContent {
	margin-left: 40px;	
}

.project-card {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-color: #F1F1F1;
	color: black; 
	display: inline-block;
	overflow: hidden;
	width: 100%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 3px 0 rgba(0,0,0,.12);
}

@media (max-width: 500px) {
	.logoBlock {
		float: none;
	}
}

.project-card h2 {
	padding: 10px 20px 5px 30px;
	font-size: 16px;
	font-weight: 400;
}
.project-card h3 {
	padding: 0px 10px 10px 30px; 
	font-size: 14px;
}
.project-card .logoBlock {
	float: left;
	margin-left: 25px;
	margin-bottom: 20px;
	width: 135px;
	text-align: center;
	overflow: hidden;
	padding: 10px;
}

.logoBlock a:hover {
	text-decoration: none;
	color: #00566C;
}
.project-card img {
	width: 90px;
	margin-bottom: 10px;
}


.project-card p {
	padding: 0px 25px 10px 30px;
}

.project-card a {
 	text-decoration: none;
  	color: black;
  	font-size: 12px;
  	font-weight: 500;
  	background-color: #a9a7ac;
  	color: #E9E9E9;
  	padding: 8px;
  	margin: 30px 15px 15px 15px;
  	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.coding-cards {
	padding-bottom: 30px;
}

/* ETC CONTENT */
@media (min-width: 768px) {
	.view {
		height: 160px;
		overflow: hidden;
	}

	.view img, .view iframe {
		height: 100%;
		width: auto;
	}
	.card-body {
		height: 185px;
	}
} 
.card-title {
	padding-top: 8px;
}

.card-body h4 {
	font-weight: bold !important;
}

.card .grey {
	background-color: #f0f0f5;
}


.card .btn-action {
    margin: -23px 20px -23px auto;
    background-color: #929FBA;
    height: 47px;
    width: 47px;
    line-height: 0;
	float: right;
	position: relative;
}

.btn-floating {
    z-index: 1;
    overflow: hidden;
    width: 47px;
    height: 47px;
    padding: 0;
    border-radius: 50%;
    background-color: #a6c;
    -webkit-transition: .3s;
    transition: .3s;
	/* box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15); */
}

.card .btn-action .fa.fa-chevron-right {
    margin-top: 2px;
    margin-left: 2px;
}

.card .btn-action .fa {
    font-size: 18px;
}

.btn-floating i {
    width: inherit;
    font-size: 1.25rem;
    line-height: 47px;
    text-align: center;
}
.btn-floating, .btn-floating i {
    display: inline-block;
    color: #fff;
}

.img-booklog {
	margin: auto;
    width: 55% !important;
    display: block;
    padding-top: 10%;
    padding-bottom: 20%;
	height: auto !important;
}

.img-hs {
    margin: auto;
    width: 60% !important;
    display: block;
    padding-top: 20%;
    padding-bottom: 20%;
}
.burgundy {
	background-color: #71002F;
}

.panel-body img {
 	width: 100%;
}

.panel {
	height: 375px;
	overflow: hidden;
}

.etc-desc {
	padding: 10px;
	margin-top: 10px;
}

.card {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 3px 0 rgba(0,0,0,.12);
	margin-bottom: 3rem;
}

.card-body {
	padding: 1.5rem;
}

.card img {
	width: 100%;
}